<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Sistema de Cartorio</title>

<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->

</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>

	<div class="container my-2">
		<a th:href="@{/cartorio/index}" class="btn btn-primary btn-sm mb-3">Cadastrar Cartório</a>
		<h1>Cartório</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome do Cartório</th>
					<th>Endereço do Cartório</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cartorio : ${listaCartorios.content}">
					<td th:text="${cartorio.nome}"></td>
					<td th:text="${cartorio.endereco}"></td>
					<td>
						<a th:href="@{/api/v1/cartorio/editar-cartorio/{id}(id=${cartorio.id})}" class="btn btn-primary">Alterar</a>
						<a th:href="@{/api/v1/cartorio/{id}(id=${cartorio.id})}" class="btn btn-danger">Excluir</a>			
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>