<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light"
			role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="btn-outline-primary" href="/">Docket</a>
				</div>
			</div>
		</nav>
		<div class="container my-2">
			<h1>Docket</h1>
			<hr>
		</div>
	</div>
</body>
</html>